@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* make body the scroller */
html,
body {
    height: 100%;
}

body {
    overflow-y: auto;
}

/* hide scrollbar across browsers */
html.no-scrollbar::-webkit-scrollbar,
body.no-scrollbar::-webkit-scrollbar {
    display: none;
}

html.no-scrollbar,
body.no-scrollbar {
    -ms-overflow-style: none;
    /* IE/Edge */
    scrollbar-width: none;

    /* Firefox */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animate-gradient {
    background-size: 200% 200%;
    animation: gradient 6s ease infinite;
}

.animate-gradient2 {
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
}